<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./gridlayout.css">
    <title>Document</title>
</head>
<body>
    <div >
        <div class="header"  style="color: white; position: absolute; margin-left: 5%; background-color: rgba(0,192,163); width: 90%; text-align: center; height: 10%; font-family: sans-serif; font-size: large;">
            <h1 class="header-content" style="position: relative; text-align: center; margin-bottom: 5%; padding: 0; margin-bottom: 20px; ">Header</h1>
        </div>
       <div class="aside" style="position: relative; background-color:yellow;  width: 20%;padding: 0px">
        <span class="content" style=" position: absolute; margin-top: 30vh; background-color: yellow; padding-left: 10vh;">Aside</span>
       </div>
    </div>
    
</body>
</html>