*{
    margin: 0;
    padding: 0;
}


.navigation{
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    height: 74px;
    /* background-color: red; */
    align-items: center;
    margin-top: 25px;

}

.nav-left{
    font-size: 35px;
    display: flex;

}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    font-weight: bold;
}

.nav-left ul li a:hover{
    /* color: white; */
    color: var(--main-bg-color);
    /* transition: all 0.5s ease-in-out; */
    font-weight: bolder;
    /* box-shadow: inset; */
}

.nav-left ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;


}

.nav-right{

}

.content{
    display: flex;
    height: 395px;
    /* background-color: rgb(225, 225, 226); */
    padding: 9px;
    margin-top: 32px;
    background-image: url("../img/461_generated.jpg");
    position: relative;
}

.content::after{
    content: ""

}

.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0px;
    margin-top: 12px;

}

.content right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-articles{
    /* height: 350px; */
    /* background-color: rgb(201, 158, 158); */
    padding-top: 12px;

}

.home-article{
    display: flex;
    padding: 25px;
    
}

.home-article img{
    width: 300px;
}

.home-article-content{
    align-self: center;
    padding:  25px;
}


.footer{
    height: 50px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.footer a{
    color: black;
    padding-left: 7px;
}