.red{
    background-color: lightcoral;
    border: solid black ;
}
.yellow{
    background-color: rgb(253, 253, 82);
    border: solid black ;
}
.blue{
    background-color: lightblue;
    border: solid black ;
}
table{
    margin-left: 30%;
    margin-top: 10%;
}
body{
    /* background-color: lightcoral; */
}
.green{
    background-color: rgb(62, 197, 62);
    border: solid black ;
}